.sosyalbutonlar{
	margin-top: 50px;
	display: inline-block;
	position: relative;
	left: 200px;


	}

.sosyalbutonlar a  {
  background:#a1a1a1;
	text-decoration: none;
	color: #FFF;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 20px;
	font-size: 30px;
	overflow: hidden;
	position: relative;
	line-height: 60px;
	text-align: center;
  }

.sosyalbutonlar a{
   transition: transform 0.4s linear 0s,
	 border-top-left-radius 0.1s linear 0s,
	 border-top-right-radius 0.1s linear 0.1s,
	 border-bottom-right-radius 0.1s linear 0.2s,
	 border-bottom-left-radius 0.1s linear 0.3s;

}

.sosyalbutonlar .facebook:hover {
      background-color: #3b5998;
      transform: rotate(360deg);
      border-radius: 50%;
}

  .sosyalbutonlar .twitter:hover   {
      background-color: #00aced;
      transform: rotate(360deg);
      border-radius: 50%;
}

 .sosyalbutonlar .google-plus:hover   {
      background-color: #dd4b39;
      transform: rotate(360deg);
      border-radius: 50%;
}

 .sosyalbutonlar .instagram:hover   {
      background-color: #bc2a8d;
      transform: rotate(360deg);
      border-radius: 50%;
}

 .sosyalbutonlar .linkedin:hover   {
      background-color: #00aced;
      transform: rotate(360deg);
      border-radius: 50%;
}

 .sosyalbutonlar .youtube:hover   {
       background-color: #bb0000;
      transform: rotate(360deg);
      border-radius: 50%;
}
